.popup {
    display: none;
    position: fixed;
    max-width: 100%;
    background: white;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.19);
    color: black;
    top: 10%;
    left: 40%;
    margin: 0 auto;
    padding: 4rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
  }
  .text {
  font-size: 18px;
  text-transform: capitalize;
  }
  .close {
    margin-top: 2rem;
  }
